:root {
  --primary-bg-color: black;
  --primary-text-color: #e6f2ff;
}

body {
    margin: 0;
    background-color: var(--primary-bg-color);
}

.prefix {
    color: var(--primary-text-color);
}

.center {
    display: flex;
    justify-content: center;
}

#menu-hover {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px 0;
}

#scroll {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bd_page {
    height: 90vh;
}