@media screen and (min-aspect-ratio: 16/10) {
  body {
    background-color: orchid;
  }

  #menu-hover .seperated-large .center {
    height: 100vh;
    flex-direction: column;
  }

  .bd_page {
    max-width: 50%;
    max-height: 100vh;
  }
}