@media screen and (max-aspect-ratio: 1/1) {
  body {
    background-color: red;
  }

  #menu-hover .seperated-small {
    display: none;
  }

  #menu-hover .seperated-large {
    width: 100%;
  }

  .bd_page {
    max-width: 100%;
    max-height: max-content;
  }
}
